@page "/getintouch"
<div class="row my-5">
    <div class="text-center border my-5 rounded shadow">
        <div class="display-6 my-3">
            İletişim
        </div>
        <div class="lead">
            <i class="fa-solid fa-phone text-primary my-3"></i>
            <p>İletişimi için = (505)-733-25-46</p>

            <i class="fa-solid fa-address-book text-primary my-3"></i>
            <p>Serdar Mahallesi Pasinler CD. NO:33 Kat:2 Daire:3 Kocaeli/Başiskele</p>

            <i class="fa-solid fa-envelope text-primary my-3"></i>
            <p>omerfarukcirpan@gmail.com</p>
        </div>
    </div>
</div>