    
    
 

<nav class="navbar navbar-dark bg-success border-bottom navbar-expand-lg ">
  <div class="container">
        <a class="navbar-brand text-white" href="" >AdminPanel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNav">
      <ul class="navbar-nav flex-grow-1">
     
        <li class="nav-item">
          <a class="nav-link text-white" asp-controller="Product" asp-action="Index">Ürünler (@await Component.InvokeAsync("ProductSummary"))</a>
        </li>   
        <li class="nav-item">
           <a class="nav-link text-white" asp-controller="Category" asp-action="Index">Kategoriler</a>
        </li>
        <li class="nav-item">
             <a class="nav-link text-white" asp-controller="Order" asp-action="Index">Sipariþler</a>
        </li>
        <li class="nav-item">
             <a class="nav-link text-white" asp-controller="Role" asp-action="Index">Roller</a>
        </li>
        <li class="nav-item">
             <a class="nav-link text-white" asp-controller="User" asp-action="Index">Kullanýcýlar</a>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto ">
         <li class="nav-item">
             <a target="_blank" class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Web</a>
        </li>
       </ul>

    </div>

  </div>
</nav>  